@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

body {
  width: 250px;
}

.line {
  display: flex;
}


.item {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
  text-align: center;
  width: 33%;
  margin: 5%;
}